.body {
    width: 1200px;
    height:750px;
}

.container {
    width: 1200px;
    height:750px;
    padding: 0px;
}

.background {
    position: absolute;
    width: 1200px;
    height:750px;
    margin: auto;
    background: url('images/entrepreneur-696966_1920.jpg');
}

#contact {
    display:none;
    width: 1200px;
    height:400px;
    background: url('images/form.jpg');
}

.footer {
    position: relative;
    top: 750px;
    width: 1200px;
    height:100px;
    text-align: center;
    background: url('images/contact_form.jpg') bottom;
}

form {
    width: 70%;
    margin: auto;
}

#button_about_me {
    position: absolute;
    top: 100px;
    left:100px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#button_facebook {
    position: absolute;
    top: 100px;
    right:100px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#button_google_plus {
    position: absolute;
    top: 100px;
    right:200px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#button_email {
    position: absolute;
    top: 100px;
    right:300px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#button_CV {
    position: absolute;
    top: 100px;
    right:500px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#button_contact {
    position: absolute;
    top: 300px;
    left: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#button_web_project {
    position: absolute;
    top: 400px;
    left: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#button_useful_links {
    position: absolute;
    top: 500px;
    left:100px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#about_me {
    display: none;
    position: absolute;
    top: 100px;
    left: 200px;
    width: 0px;
    height: 0px;
    overflow-y: scroll;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center;
    z-index:10;
    background: transparent;
}

#button_about_me_close {
    position: absolute;
    top: 10px;
    right:10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#about_me .my_foto {
    float: left;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border: 1px solid white;
}

.p_one, .p_two, .p_tree, .p_four, .p_five, .p_six, .p_seven {
    display: none;
}

.name {
    float: left;
    display: none;
    width: 65%;
    margin: 10px;
    color: black;
    font-size: 21px;
    text-transform: uppercase;
    text-align: left;
}

.soft {
    color: #17B5D8;
    text-transform: none;
}

.serve {
    color: #000052;
    text-transform: none;
}

.start_up {
    display: none;
    width: 1200px;
    height: 375px;
    background: url('images/portfolio.jpg') center no-repeat #2a2d2e;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
}
  
.pictures {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 250px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border: 1px solid white;
    background: url('images/Certificate.jpg') center no-repeat #e5f3ff;
}

.audio {
    display: none;
    position: relative;
    top: 20px;
    left: 800px;
}

.skills {
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

@keyframes skills {
    from {color: black;}
    to {color: white;}
}

.skills {
    color: black;
    animation-name: skills;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.align {
    position: absolute;
    top: 200px;
    left: 800px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

#html, #css, #javascript, #jQuery, #bootstrap {
    width: 0%;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#html {
    color: white;
    background: blue;
}

#css {
    color: blue;
    background: yellow;
}

#javascript {
    color: white;
    background: green;
}

#jQuery {
    color: white;
    background: orange;
}

#bootstrap {
    color: white;
    background: red;
}

#useful_links {
    display: none;
    position: absolute;
    top: 100px;
    left: 200px;
    width: 0px;
    height: 0px;
    overflow-y: scroll;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center;
    background: transparent;
}

#button_useful_links_close {
    position: absolute;
    top: 10px;
    right:10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#often {
    margin: 20px;
    width: 45%;
    color: white;
    font-size: 21px;
    text-align: left;
    line-height: 2.1;
}

#often li a {
    text-transform: uppercase;
    color: black;
}












