
#button_about_me_close {
    position: absolute;
    top: 10px;
    right:10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#about_me .my_foto {
    float: left;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border: 1px solid white;
}

.p_one, .p_two, .p_tree, .p_four, .p_five, .p_six, .p_seven {
    display: none;
}

.name {
    float: left;
    display: none;
    width: 65%;
    margin: 10px;
    color: black;
    font-size: 21px;
    text-transform: uppercase;
    text-align: left;
}

.soft {
    color: #17B5D8;
    text-transform: none;
}

.serve {
    color: #000052;
    text-transform: none;
}

.pictures {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 250px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border: 1px solid white;
    background: url('images/Certificate.jpg') center no-repeat #e5f3ff;
}

.audio {
    display: none;
    position: relative;
    top: 20px;
    left: 800px;
}

.skills {
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

@keyframes skills {
    from {color: black;}
    to {color: white;}
}

.skills {
    color: black;
    animation-name: skills;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.align {
    position: absolute;
    top: 200px;
    left: 800px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

#html, #css, #javascript, #jQuery, #bootstrap {
    width: 0%;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#html {
    color: white;
    background: blue;
}

#css {
    color: blue;
    background: yellow;
}

#javascript {
    color: white;
    background: green;
}

#jQuery {
    color: white;
    background: orange;
}

#bootstrap {
    color: white;
    background: red;
}

#useful_links {
    display: none;
    position: absolute;
    top: 100px;
    left: 200px;
    width: 0px;
    height: 0px;
    overflow-y: scroll;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center;
    background: transparent;
}

#button_useful_links_close {
    position: absolute;
    top: 10px;
    right:10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#often {
    margin: 20px;
    width: 45%;
    color: white;
    font-size: 21px;
    text-align: left;
    line-height: 2.1;
}

#often li a {
    text-transform: uppercase;
    color: black;
}




#body {
    margin-top: 50px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-image: url('images/new/body.jpg');
    background-size: cover;
}

#content {
    margin: 10% 20%;
    color: #E2D893;
}

#subContent {
    margin: 50px auto;
    opacity: 0.9;
    color: #2B2301;
    background-color: #E2D893;
}

#portfolio {
    margin-top: 150px;
}

.navbar-default .navbar-brand {
    font-size: 17px;
    color: #2B2301;
}

.navbar-default .navbar-nav > li > a {
    color: #2B2301;
}

.navbar-default .navbar-nav > li > .matched {
    color: #2B2301;
    animation-name: navbar;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes navbar {
    from {color: #2B2301;}
    to {color:  #E2D893;}
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #E2D893;
}

.navbar-default {
    background-image: linear-gradient(to bottom, #5F9DA1 0%, #5F9DA1 100%);
}

.music {
    height: 20px;
}

.me {
    height: 50px;
    border-radius: 5px;
    border: 2px solid #E2D893;
}

.navbar-brand {
    padding: 1px;
}

h1 {
    margin-left: 5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 51px;
    margin-top: 200px;
}

h2 {
    margin-left: 5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 51px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
}

h4 {
    display: inline;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}

figure {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
}

figcaption {
    margin-top: 100px;
    margin-bottom: 25px;
}

.ico {
    opacity: 0.7;
    width: 7%;
}

.ico:hover {
    opacity: 1;
} 

.icoProject {
    opacity: 0.7;
    width: 40%;
}

.icoProject:hover {
    opacity: 1;
    transform: scale(1.1,1.1);
} 

.icoAchievement {
    opacity: 0.7;
}

.icoAchievement:hover {
    opacity: 1;
}

.icoSkills {
    opacity: 0.7;
    height: 150px;
}

.icoSkills:hover {
    opacity: 1;
}

.professionalSkills figcaption {
    margin: 50px auto;
}

.professionalSkills img:hover {
    transform: scale(1.1,1.1);
}

figure img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.reflection {
    margin: 25px 0px;
    display: block;
    width: 100%;
    color: #E2D893;
    font-size: 17px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    background-color: #5F9DA1;
}

#contact {
    margin-top: 150px;
}

legend {
    color: #E2D893;
}

.on_top {
    display: none;
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 15%;
}

.my_logo {
    margin: 10px;
    text-align: center;
}

.logo {
   background-color: #E2D893; 
}





















