.container {
    
    margin:auto;
    width: auto;
    background: #A7DBDB;
}

header {
    background: #69D2E7;
    height: 150px;
    
    text-align: center;
    font-family: "Courier New";
    font-size: 48px;
    padding: 50px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.content {
    
    margin:auto;
    width: auto;
}

.one {
   float: left; 
   width: 25%;
   padding: 5px;
   box-sizing: border-box;
   background: #A7DBDB;
  
   height:auto;
}

.two {
   float: right; 
   width: 75%;
   padding: 5px;
   box-sizing: border-box;
   background: url("../images/AB.png") no-repeat #E0E4CC;
   
   height: 400px;
}

footer {
   clear: both; 
   width: auto;
   margin: auto;
   padding: 5px;
   box-sizing: border-box;
 
   background: #69D2E7;
   height: 50px;
}

li {
    margin:10px;
}

li:hover {
    background:white;
    color: red;
}

a {
    color: black;
}

p {
    display: inline-block;
    margin-left: 50px;
    background: white;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
}

#contain {
    border: 1px solid;
    background-color: red;
}

#blue {
    background-color: blue;
    border: 1px solid;
}

#green {
    background-color: green;
    border: 1px solid;
}