.one {
    float:left;
    width: 33.33%;
    height:150px;
    border: 1px solid green;
    box-sizing: border-box;
    background: red;
}

.two {
    float:left;
    width: 33.33%;
    height:150px;
    border: 1px solid green;
    box-sizing: border-box;
    background: blue;
}

.three {
    float:left;
    width: 33.33%;
    height:150px;
    border: 1px solid green;
    box-sizing: border-box;
    background: yellow;
}

.main {
    clear :both;
    height:150px;
    border: 1px solid green;
      background: green;
}

.four {
    float:left;
    width: 50%;
    height:150px;
    border: 1px solid green;
    box-sizing: border-box;
    background: gray;
}

.five {
    float:left;
    width: 50%;
    height:150px;
    border: 1px solid green;
    box-sizing: border-box;
    background: black;
}